// dark theme
:root {
  --bs-primary: #9ca3ac;
  --bs-secondary: #ffffff;
  --bs-danger: #f14f4f;
  --bs-success: #84bb5d;
  --bs-info: #54d2f9;
  --bs-warning: #f9a653;
  --bs-body-bg: #101321;
  --bs-body-color: var(--bs-primary);
  --bs-sidebar-bg: #000000;
  --bs-navbar-item-active-bg: #252732;
  --bs-navbar-item-active-border: var(--bs-success);
  --bs-navbar-bg: var(--bs-body-bg);
  --bs-navbar-color: var(--bs-primary);
  // table
  --bs-border-color: var(--bs-primary);
}

// :root {
//   --bs-white: #ffffff;
//   --bs-primary: #101321;
//   --bs-secondary: #000000;
//   --bs-danger: #f14f4f;
//   --bs-success: #101321;
//   --bs-info: #54d2f9;
//   --bs-warning: #f9a653;
//   --bs-body-bg: #ffffff;
//   --bs-body-color: var(--bs-primary);
//   --bs-sidebar-bg: #efecdf;
//   --bs-navbar-item-active-bg: #252732;
//   --bs-navbar-item-active-border: var(--bs-success);
//   --bs-navbar-bg: var(--bs-body-bg);
//   --bs-navbar-color: var(--bs-primary);
//   // table
//   --bs-border-color: var(--bs-primary);

//   // chart
//   --chart-light-blue: #ab2d06;
//   --chart-blue: #bc6620;
//   --chart-green: #953492;
//   --chart-pink: #20a563;
//   --chart-legend-color: #ffffff;
//   --chart-label-color: #ffffff;
// }

// chart
