<header
  class="header border-bottom border-secondary position-relative d-flex justify-content-center"
>
  <div class="d-flex align-items-center position-absolute brand-title">
    <h3 class="me-4">Govalle Constructions</h3>
    <div class="position-relative">
      <figure class="avatar m-0">
        <img
          src="../../../../assets/images/avatar.svg"
          class="img-fluid"
          alt="avatar"
        />
      </figure>
      <figure class="avatar over-image m-0 position-absolute">
        <img
          src="../../../../assets/images/avatar.svg"
          class="img-fluid"
          alt="avatar"
        />
      </figure>
    </div>
  </div>

  <app-navbar class="d-none d-xl-block"></app-navbar>
</header>
