// Global styles goes here
* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.text-ellipsis {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.overflow-vertical {
  overflow-x: hidden;
  overflow-y: auto;
}
