$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-line-graph: "\e90e";
$icon-document: "\e900";
$icon-zoom-out: "\e90c";
$icon-align-justify: "\e901";
$icon-shopping-bag: "\e90b";
$icon-settings: "\e902";
$icon-calendar: "\e903";
$icon-bar-chart-vertical: "\e904";
$icon-bar-chart-horizontal: "\e90d";
$icon-list: "\e905";
$icon-help-circle: "\e906";
$icon-plus: "\e907";
$icon-users: "\e908";
$icon-clock: "\e909";
$icon-home: "\e90a";

