<div class="card-content">
  <table class="table" aria-label="Construction heath">
    <tbody>
      <tr>
        <th scope="row" class="ps-0">Time</th>
        <td>14% ahead of schedule.</td>
      </tr>
      <tr>
        <th scope="row" class="ps-0">Task</th>
        <td>21 task to be completed.</td>
      </tr>
      <tr>
        <th scope="row" class="ps-0">Workload</th>
        <td>0 task overdue.</td>
      </tr>
      <tr>
        <th scope="row" class="ps-0">Progress</th>
        <td>14% completed.</td>
      </tr>
      <tr>
        <th scope="row" class="ps-0">Cost</th>
        <td>42% under budget.</td>
      </tr>
    </tbody>
  </table>
</div>
